<div class="menu-container">
  <ng-container *ngFor="let category of categories$ | async">
    <section class="menu-section" [class]="category[0]">
      <h2>{{ category[1].title }}</h2>
      <div class="cards-container">
        <ng-container *ngFor="let subcategory of getSubcategoriesByCategory(category[0])">
          <div class="menu-card" (click)="navigateToSubcategory(subcategory[0])">
            <h3>{{ subcategory[1].title }}</h3>
            <p *ngIf="subcategory[1].subtitle" class="subtitle">
              {{ subcategory[1].subtitle }}
            </p>
          </div>
        </ng-container>
      </div>
    </section>
  </ng-container>
</div>